body{
    margin: 0;
    padding: 0;
}

/* navvar start */
#content-wrapper{
    margin: 0 auto 80px;
    max-width: 960px;
    height: auto;
    overflow: hidden;
}

.navbar-fixed, .nav-fixed{
    border-bottom: medium solid black
}

.navbar-fixed{
    padding-right: 0;
    padding-left: 0;
}
.jumbotron-fixed{
    background-size: cover;
    height: 270px;
    position: relative;
    margin-bottom: 0;
}

.jumbotron-fixed h1{
    text-align: center;
    color: white;
    font-size: 30px;
}

.jumbotron-fixed .container{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 30px;
}

.nav-fixed{
    margin-bottom: 2em;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.nav-fixed a{
    padding: 20px 15px 0 0;
    font-weight: bold;
    color: black;
}

.nav-fixed a:hover{
    color: black;
}


.theme_name{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    height: 1.3em;
}

.edit_button{
    margin: 0 auto;
    width: 30%;
    display: block;
}

.pane{
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto 1em;
    padding: 1em;
}

#create-theme-description{
    height: 8em;
    line-height: 1.3em;
}

@media screen and (max-width:992px) {
    .nav-fixed a, .navbar-fixed span{
        padding-left: 15px;
    }
    .description{
        width: 90%;
        margin: 0 auto;
    }
    .edit_button{
        width: 20%;
    }
}

footer{
    text-align: center;
    padding-bottom: 10px;
    color: gray;
}
